body{
  margin:0;

}
p{
  font-style:italic;
}

#app,.modals {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


h1{
  border-bottom:1px solid #ddd;
  display:inline-block;
  padding-bottom:10px;
}

.modal h1 {
  color:#03cfb4;
  border:none;
  padding:0;

}

.modal .actions {
  text-align:center;
  margin:30px 0 10px 0;
  color:#333;
}

.modal .actions a {
  color:#333;
  padding:8px;
  border: 1px solid #eee;
  border-radius:4px;
  text-decoration:none;
  margin:10px;
}

button{
  margin-right:15px;
}
