<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <title>Document</title>
  <style>
    body{
      background:#eee;
      max-width:960px;
      margin: 20px auto;
    }
    p,h3, ul {
      margin:0;
      padding:0;
    }
    li {
      list-style-type: none;
      background:#fff;
      margin: 20px auto;
      padding:10px 20px;
      border-radius:10px;
      display:flex;
      align-items:center;
      justify-content: space-between;
    }
    img{
      max-width:150px;
    }
    li.fav {
      background:#ff98d2;
      color:white;
    }
    .box {
      padding:100px;
      width:25%;
      text-align:center;
      background:#ddd;
      margin:20px;
      display: inline-block;
    }


  </style>
</head>
<body>
  <div id="app">
    <!-- <a v-bind:href="url">Google</a> -->
    <!-- just use the ':' for v-bind -->
    <a :href="url">Google</a>
    
    <div v-if="showBooks">
      <ul>
        <li v-for="book in filteredBooks" :class="{ fav: book.isFav }" @click="toggleFav(book)">
          <img :src="book.img" :alt="book.title">
          <h3>{{ book.title }}</h3>
          <p>{{ book.author }}</p>
        </li>
      </ul>
    </div>
    <br>
    <button @click="toggleBooks">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
    </button>
    <br>
    <div class="box" @mouseover="handleEvent">Mouse Over</div>
    <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
    <div class="box" @dblclick="handleEvent">Double Click</div>
    <div class="box" @mousemove="handleMouseMove">Position X {{ x }} - Position Y {{ y }}</div>
  </div>
  <script src="app2.js"></script>
</body>
</html>