<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 3 - Again for the LAST TIME</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <style>
    .box {
      padding:100px;
      width:400px;
      text-align:center;
      background:#ddd;
      margin:20px;
      display: inline-block;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- <p>{{ title }} - {{ author }} - {{ age }}</p>

    <button v-on:click="changeAge('plus')">Increase Age</button>
    <button v-on:click="changeAge('minus')">Decrease Age</button>
    <br>
    <div @click="changeTitle('Oathbringer')">Change title</div> -->

    <div v-if="showBooks">
      <p>{{ title }} - {{ author }} - {{ age }}</p>
    </div>

    <button @click="toggleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <!-- <span v-if="!showBooks">Show Books</span> -->
      <span v-else>Show Books</span>

    </button>
    <br>
    <div v-show="showBooks">Currently Showing Books</div>
    <br>
    <div class="box" @mouseover="handleEvent($event, 5)">Mouse Over</div>
    <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
    <div class="box" @dblclick="handleEvent">Double Click</div>
    <div class="box" @mousemove="handleMousemove">Position X: {{ x }} - Position X: {{ y }}</div>
    

  </div>
  <script src="app.js"></script>
</body>
</html>