<template>
  <div class="navbar">
    <nav>
      <img src="@/assets/ninja.png" alt="ninja" />
      <h1><router-link :to="{ name: 'Home' }">Muso Ninjas</router-link></h1>
      <div class="links">
        <div v-if="user">
          <span>
            <b>Welcome, {{ user.displayName }}</b> &nbsp;&nbsp;|
          </span>
          <router-link :to="{ name: 'CreatePlaylist' }"
            >Create Playlist</router-link
          >
          <router-link :to="{ name: 'UserPlaylists' }"
            >My Playlists</router-link
          >
          <button @click="handleLogout" v-if="user">Logout</button>
        </div>
        <div v-else>
          <router-link :to="{ name: 'Signup' }" class="btn" v-if="!user"
            >Signup</router-link
          >
          <router-link :to="{ name: 'Login' }" class="btn" v-if="!user"
            >Log In</router-link
          >
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import useLogout from "@/composables/useLogout"
import getUser from "../composables/getUser"

import { useRouter } from "vue-router"

export default {
  setup() {
    const { error, logout } = useLogout()
    const router = useRouter()
    const { user } = getUser()

    const handleLogout = async () => {
      await logout()
      if (!error.value) {
        router.push({ name: "Login" })
      }
    }

    return { handleLogout, error, user }
  },
}
</script>

<style scoped>
.navbar {
  padding: 16px 10px;
  margin-bottom: 60px;
  background: white;
}
nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
nav img {
  max-height: 60px;
}
nav h1 {
  margin-left: 20px;
}
nav .links {
  margin-left: auto;
}
nav .links a,
button {
  margin-left: 16px;
  font-size: 14px;
}
</style>
