<template>
  <form @submit.prevent="handleSubmit">
    <h3>Login</h3>
    <input type="email" placeholder="Email" v-model="email" />
    <input type="password" placeholder="Password" v-model="password" />
    <div class="error" v-if="error">{{ error }}</div>
    <button v-if="!isPending">Login</button>
    <button v-if="isPending" disabled>Loading...</button>
  </form>
</template>

<script>
import useLogin from "@/composables/useLogin"
import { ref } from "@vue/reactivity"
import { useRouter } from "vue-router"
export default {
  setup() {
    const { error, login, isPending } = useLogin()
    const email = ref("")
    const password = ref("")
    const router = useRouter()

    const handleSubmit = async () => {
      const res = await login(email.value, password.value)
      if (!error.value) {
        console.log("User logged in")
        router.push({ name: "UserPlaylists" })
      }
    }

    return { error, email, password, handleSubmit, isPending }
  },
}
</script>

<style></style>
