<template>
  <div class="home">
    <div class="error" v-if="error">Could not fetch the data</div>
    <h2>All Playlists</h2>
    <div v-if="documents">
      <ListView :playlists="documents" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ListView from "../components/ListView.vue"
import getCollection from "@/composables/getCollection"

export default {
  name: "Home",
  components: { ListView },
  setup() {
    const { documents, error } = getCollection("playlists")

    return { error, documents }
  },
}
</script>
