<template>
  <form @submit.prevent="handleSubmit">
    <h4>Create New Playlist</h4>
    <input type="text" v-model="title" placeholder="Playlist Title" required />
    <textarea
      v-model="description"
      required
      placeholder="Playlist Description..."
    >
    </textarea>
    <!-- UPLOAD PLAYLIST IMAGE -->
    <label for="">Upload Playlist Cover Image</label>
    <input type="file" @change="handleChange" accept="image/*" />
    <div class="error">{{ fileError }}</div>
    <button v-if="!isPending">Create</button>
    <button v-else disabled>Saving...</button>
  </form>
</template>

<script>
import { ref } from "@vue/reactivity"
import useStorage from "@/composables/useStorage"
import useCollection from "@/composables/useCollection"
import getUser from "@/composables/getUser"
import { timestamp } from "@/firebase/config"
import { useRouter } from "vue-router"

export default {
  setup() {
    const title = ref("")
    const description = ref("")
    const file = ref(null)
    const fileError = ref(null)
    const router = useRouter()

    const { url, uploadImage, filePath } = useStorage()
    const { error, addDocument } = useCollection("playlists")

    const { user } = getUser()

    const isPending = ref(false)

    const handleSubmit = async () => {
      if (file.value) {
        isPending.value = true
        await uploadImage(file.value)
        const res = await addDocument({
          title: title.value,
          description: description.value,
          userId: user.value.uid,
          userName: user.value.displayName,
          coverUrl: url.value,
          filePath: filePath.value,
          songs: [],
          createdAt: timestamp,
        })
        isPending.value = false
        if (!error.value) {
          router.push({ name: "PlaylistDetails", params: { id: res.id } })
        }
      }
    }

    //allowed file types
    //const types = ["image/png", "img/jpeg"]
    const handleChange = (e) => {
      const selected = e.target.files[0]
      if (selected) {
        file.value = selected
        fileError.value = null
      } else {
        fileError.value = "Please upload png or jpg only"
        file.value = null
      }
    }
    return {
      title,
      description,
      handleSubmit,
      handleChange,
      fileError,
      isPending,
    }
  },
}
</script>

<style>
input[type="file"] {
  border: 0;
  padding: 0;
}
label {
  font-size: 12px;
  display: block;
  margin-top: 30px;
}
button {
  margin-top: 20px;
}
</style>
