<template>
  <div v-if="error">{{ error }}</div>
  <div v-if="playlist" class="playlist-details">
    <div class="playlist-info">
      <div class="cover">
        <img :src="playlist.coverUrl" alt="cover image" />
      </div>

      <h2>{{ playlist.title }}</h2>
      <p class="username">Created by {{ playlist.userName }}</p>
      <p class="description">{{ playlist.description }}</p>
      <button v-if="ownership" @click="handleDelete">Delete Playlist</button>
    </div>

    <!-- song list -->
    <div class="song-list">
      <div v-if="!playlist.songs.length">
        No songs have been added to this playlist yet.
      </div>
      <div class="single-song" v-for="song in playlist.songs" :key="song.id">
        <div class="details">
          <h3>{{ song.title }}</h3>
          <p>{{ song.artist }}</p>
        </div>
        <button v-if="ownership" @click="songDelete(song.id)">Delete</button>
      </div>
      <AddSong :playlist="playlist" />
    </div>
  </div>
</template>

<script>
import getDocument from "@/composables/getDocument"
import useDocument from "@/composables/useDocument"
import useStorage from "@/composables/useStorage"
import getUser from "@/composables/getUser"

import { computed } from "@vue/runtime-core"
import { useRouter } from "vue-router"

import AddSong from "@/components/AddSong"

export default {
  props: ["id"],
  components: { AddSong },
  setup(props) {
    const { user } = getUser()
    const { document: playlist, error } = getDocument("playlists", props.id)
    const { removeDoc, updateDocument, isPending } = useDocument(
      "playlists",
      props.id
    )
    const { deleteImage } = useStorage()
    const router = useRouter()

    const ownership = computed(() => {
      return (
        playlist.value && user.value && user.value.uid == playlist.value.userId
      )
    })

    const handleDelete = async () => {
      console.log(playlist.value.filePath)
      await deleteImage(playlist.value.filePath)
      await removeDoc()

      router.push({ name: "Home" })
    }

    const songDelete = (id) => {
      const filteredSongs = playlist.value.songs.filter(
        (song) => song.id !== id
      )

      updateDocument([...filteredSongs]).then(() => {
        console.log("Songs Added")
      })
    }

    return { playlist, error, ownership, handleDelete, isPending, songDelete }
  },
}
</script>

<style>
.playlist-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
}
.cover {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  padding: 160px;
  border: 1px solid #eee;
}
.cover img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.playlist-info {
  text-align: center;
}
.playlist-info h2 {
  text-transform: capitalize;
  font-size: 28px;
  margin-top: 20px;
}
.playlist-info p {
  margin-bottom: 20px;
  text-align: center;
}
.username {
  color: #999;
}
.description {
  text-align: left;
}

.single-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--secondary);
  padding: 10px 0;
  margin-bottom: 20px;
}
</style>
