<template>
  <h2>My Playlists</h2>
  <div v-if="playlists">
    <ListView :playlists="playlists" />
  </div>
  <router-link :to="{ name: 'CreatePlaylist' }" class="btn"
    >Create Playlist</router-link
  >
</template>

<script>
import getCollection from "@/composables/getCollection"
import { ref } from "@firebase/storage"
import getUser from "@/composables/getUser"

import ListView from "@/components/ListView"

export default {
  components: { ListView },
  setup() {
    const { user } = getUser()

    const { documents: playlists, error } = getCollection("playlists", [
      "userId",
      "==",
      user.value.uid,
    ])

    return { playlists, error }
  },
}
</script>

<style></style>
