<template>
  <h1>{{ title }}</h1>
  <p>Welcome</p>
  <!-- <input type="text" ref="name">
  <button @click="handleClick">Click Me</button> -->
  <teleport to=".modals" v-if="showModal">
    <!-- Using props -->
    <!-- <Modal :header="header" :text="text" theme="sale" @close="toggleModal" /> -->
    <!-- Using Slots -->
    <Modal theme="sale" @close="toggleModal">
      <template v-slot:links>
        <a href="#">Sign Up Now</a>
        <a href="#">More Info</a>
      </template>
      <h1>Ninja Giveaway</h1>
      <p>Grab your ninja swag for half price!</p>
    </Modal>
  </teleport>
  <teleport to=".modals" v-if="showModalTwo">
    <Modal theme="no-sale" @close="toggleModalTwo">
      <template v-slot:links>
        <a href="#">Sign Again </a>
        <a href="#">More Info Please</a>
      </template>
      <h1>Ninja Giveaway 2</h1>
      <p>Grab your ninja swag for half price, once more!</p>
    </Modal>
  </teleport>
  <button @click="toggleModal" v-if="!showModal">Open Modal</button>
  <button @click="toggleModalTwo" v-if="!showModalTwo">Open Modal 2</button>
</template>

<script>

import Modal from './components/Modal.vue'

export default {
  name: 'App',
  components:{
    Modal
  },
  data(){
    return {
      title: 'My First Vue App',
      // header: 'Sign up for the Giveaway',
      // text: 'Grab your ninja swag for half price!',
      showModal: false,
      showModalTwo: false
    }
  },
  methods: {
    handleClick(){
      console.log(this.$refs.name)
      this.$refs.name.classList.add('active')
      this.$refs.name.focus()
    },
    toggleModal(){
      this.showModal = !this.showModal
    },
    toggleModalTwo(){
      this.showModalTwo = !this.showModalTwo
    }
  }
}
</script>

<style>
@import url('./assets/global.css');

</style>
