<template>
  <h1>Real Time data</h1>
  <div v-for="post in posts" :key="post.id">
    <p>{{ post.title }}</p>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import { projectFirestore } from "../firebase/config";
import {
  collection,
  doc,
  onSnapshot,
  query,
  orderBy,
} from "@firebase/firestore";
export default {
  setup() {
    const posts = ref([]);

    const q = query(
      collection(projectFirestore, "posts"),
      orderBy("createdAt", "desc")
    );

    const unsub = onSnapshot(q, (querySnapshot) => {
      // querySnapshot.forEach((snap) => {
      //   console.log(snap);
      // });
      let docs = querySnapshot.docs.map((doc) => {
        return { ...doc.data(), id: doc.id };
      });

      posts.value = docs;
    });

    return { posts };
  },
};
</script>

<style></style>
